body {
  font-family: Lucida Sans;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url("../assets/img/background/background.jpg") no-repeat center
    center fixed;
  background-size: cover;
}
